* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: url(../images/header_bg.jpg) center center / cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu__link {
    font-size: 18px;
    font-weight: 700;
    color: #4d4d4d;
    padding: 22px 24px 22px 16px;
    transition: 0.5s;
    display: block;
}

.menu__link:hover {
    background: #515151;
    color: #f7f7f7;
}

.header__info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 100px;
    flex-direction: column;
    background: lime;
    color: #fff;
    padding: 0 50px;
}

section p {
    font-size: 36px;
    text-align: center;
}

.footer {
    background: linear-gradient(90deg, #000, dodgerblue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer a {
    color: #fff;
}